# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
*.pot
*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Vercel
.vercel